html {
    color: #ffffff;
    background-color: #00a;
}

h1 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    width: fit-content;
    background-color: #aaa;
    color: #00a;
    font-size: 1em;
    font-family: 'Press Start 2P';
    margin: auto;
}

p, td {
    font-size: 1em;
    font-family: 'Press Start 2P';
    line-height: 160%;
}

body {
    width: 100%
}

#text {
    margin: auto;
    width: 60%;
    height: 40vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

#content {
    padding: 1vw 15% 1vw;
    width: 70%;
}

a {
    color: inherit;

}